<!DOCTYPE html>
<htmlxmlns:"http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

<script type="text/javascript" th:src="@{/js/personas.js}"></script>

<title>Personas</title>
</head>
<body>
<di >
	<a id="actionDetalle" type="hidden"></a>
</di>
<div class="container mt-4">
	<table class="table">
		<thead>
			<tr>
				<th>Nombre
					<a>
					  <i class="fa fa-user"></i>
					</a>
				</th>
				<th>Telefono
					<a>
					  <i class="fa fa-phone"></i>
					</a>
				</th>
				<th>Ver detalle</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona:${lstPersonas}">
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.telefono}"></td>
				<td>
					<a th:id="${persona.id}" th:onclick="verDetalle(this.id)" class="btn">
					  <i class="fa fa-eye"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	      <div class="modal-body">
	        <div th:if="${detallePersona}">
		        <table class="table" id="tblDetalle">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Telefono</th>
							<th>Estatus</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${detallePersona.id}"></td>
							<td th:text="${detallePersona.nombre}"></td>
							<td th:text="${detallePersona.primerApellido}"></td>
							<td th:text="${detallePersona.segundoApellido}"></td>
							<td th:text="${detallePersona.telefono}"></td>
							<td th:text="${detallePersona.estatus}"></td>
						</tr>
					</tbody>
				</table>
	        </div>
	        
			<div class="modal-footer">
		        <button id="btnCerrar" type="button" th:href="@{/consulta}" class="btn btn-secondary" data-dismiss="modal" th:onclick="cerrar()">Cerrar</button>
		        <input id="btnAgregar" type="submit" value="Guardar" class="btn btn-primary" />
		    </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>